body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:929px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:757px;
  background:inherit;
  background-color:rgba(242, 244, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F4F9;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:141px;
  width:375px;
  height:757px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F4F9;
}
#u2296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:66px;
}
#u2297 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:90px;
  width:375px;
  height:66px;
  display:flex;
  font-family:'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#30404F;
}
#u2297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#30404F;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:56px;
  width:375px;
  height:44px;
  display:flex;
  font-family:'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#30404F;
}
#u2298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:44px;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:56px;
  width:374px;
  height:44px;
  display:flex;
}
#u2299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:33px;
  width:433px;
  height:62px;
  display:flex;
}
#u2301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:95px;
  width:30px;
  height:803px;
  display:flex;
}
#u2302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:839px;
  width:373px;
  height:59px;
  display:flex;
}
#u2303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u2304 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:95px;
  width:30px;
  height:803px;
  display:flex;
}
#u2304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2306 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
.u2306_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2306_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u2307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u2308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u2308 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
  display:flex;
  text-align:left;
}
.u2308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
.u2308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u2309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
.u2309 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:18px;
  width:15px;
  height:14px;
  display:flex;
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
}
.u2309 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u2309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
}
.u2310 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:18px;
  width:19px;
  height:14px;
  display:flex;
  font-family:'思源黑体 Bold', '思源黑体', sans-serif;
  font-weight:700;
  font-style:normal;
}
.u2310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u2310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u2312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u2312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u2312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
.u2312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u2313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
.u2313 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:18px;
  width:15px;
  height:14px;
  display:flex;
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
}
.u2313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u2313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
}
.u2314 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:18px;
  width:19px;
  height:14px;
  display:flex;
  font-family:'思源黑体 Bold', '思源黑体', sans-serif;
  font-weight:700;
  font-style:normal;
}
.u2314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u2314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2305-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u2305-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:210px;
  height:50px;
}
#u2305-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:210px;
  height:50px;
}
#u2305-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:210px;
  height:50px;
}
#u2305-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:210px;
  height:50px;
}
#u2305-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:210px;
  height:50px;
}
#u2305 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:220px;
  width:210px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:630px;
  width:210px;
  height:50px;
  display:flex;
  text-align:left;
}
#u2316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u2316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:648px;
  width:15px;
  height:14px;
  display:flex;
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u2317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:648px;
  width:19px;
  height:14px;
  display:flex;
  font-family:'思源黑体 Bold', '思源黑体', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.972549019607843);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:220px;
  width:164px;
  height:50px;
  display:flex;
  text-align:left;
}
#u2320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u2320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:225px;
  width:40px;
  height:40px;
  display:flex;
}
#u2321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#69707F;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:237px;
  width:49px;
  height:16px;
  display:flex;
  color:#69707F;
}
#u2322 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:270px;
  width:164px;
  height:50px;
  display:flex;
  text-align:left;
}
#u2324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u2324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#69707F;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:287px;
  width:38px;
  height:16px;
  display:flex;
  color:#69707F;
}
#u2325 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2325_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:275px;
  width:40px;
  height:40px;
  display:flex;
}
#u2326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:320px;
  width:164px;
  height:50px;
  display:flex;
  text-align:left;
}
#u2328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u2328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#69707F;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:337px;
  width:53px;
  height:16px;
  display:flex;
  color:#69707F;
}
#u2329 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2329_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:325px;
  width:40px;
  height:40px;
  display:flex;
}
#u2330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:370px;
  width:164px;
  height:50px;
  display:flex;
  text-align:left;
}
#u2332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u2332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#69707F;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:387px;
  width:45px;
  height:16px;
  display:flex;
  color:#69707F;
}
#u2333 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2333_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:375px;
  width:40px;
  height:40px;
  display:flex;
}
#u2334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:420px;
  width:164px;
  height:50px;
  display:flex;
  text-align:left;
}
#u2336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u2336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#69707F;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:437px;
  width:59px;
  height:16px;
  display:flex;
  color:#69707F;
}
#u2337 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2337_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:425px;
  width:40px;
  height:40px;
  display:flex;
}
#u2338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:470px;
  width:164px;
  height:50px;
  display:flex;
  text-align:left;
}
#u2340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u2340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#69707F;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:487px;
  width:32px;
  height:16px;
  display:flex;
  color:#69707F;
}
#u2341 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2341_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:475px;
  width:40px;
  height:40px;
  display:flex;
}
#u2342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#30404F;
  text-align:left;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:176px;
  width:373px;
  height:46px;
  display:flex;
  font-family:'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#30404F;
  text-align:left;
}
#u2343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:186px;
  width:24px;
  height:24px;
  display:flex;
}
#u2345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:188px;
  width:18px;
  height:20px;
  display:flex;
}
#u2346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:112px;
  width:44px;
  height:44px;
  display:flex;
  font-size:18px;
  color:#000000;
}
#u2349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:127px;
  width:8px;
  height:14px;
  display:flex;
}
#u2350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
