body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1364px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:780px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:98px;
  width:375px;
  height:780px;
  display:flex;
}
#u872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:723px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:147px;
  width:377px;
  height:723px;
  display:flex;
}
#u873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:48px;
  width:375px;
  height:60px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u874 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:758px;
  width:375px;
  height:112px;
  display:flex;
}
#u875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#30404F;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:108px;
  width:166px;
  height:33px;
  display:flex;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#30404F;
}
#u876 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:90px;
  background:inherit;
  background-color:rgba(251, 114, 153, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:64px;
  width:334px;
  height:90px;
  display:flex;
}
#u877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:290px;
  width:373px;
  height:468px;
}
#u878_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:468px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:393px;
  height:468px;
}
#u879_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:468px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u879_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:40px;
  background:inherit;
  background-color:rgba(251, 114, 153, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:705px;
  width:336px;
  height:40px;
  display:flex;
}
#u880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:53px;
}
.u885 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:0px;
  width:335px;
  height:53px;
  display:flex;
}
.u885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u885_img.selected {
}
.u885.selected {
}
.u885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
.u886 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:6px;
  width:42px;
  height:42px;
  display:flex;
}
.u886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#69707F;
}
.u887 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:15px;
  width:173px;
  height:22px;
  display:flex;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#69707F;
}
.u887 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
.u888 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:52px;
  width:302px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.115109600513013deg);
  -moz-transform:rotate(0.115109600513013deg);
  -ms-transform:rotate(0.115109600513013deg);
  transform:rotate(0.115109600513013deg);
}
.u888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
.u890 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:15px;
  width:24px;
  height:24px;
  display:flex;
}
.u890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u890_img.selected {
}
.u890.selected {
}
.u890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
.u891 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:23px;
  width:14px;
  height:10px;
  display:flex;
}
.u891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u883-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:53px;
}
#u883-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:376px;
  height:53px;
}
#u883-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:376px;
  height:53px;
}
#u883-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:376px;
  height:53px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:492px;
  width:376px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#797979;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:479px;
  width:9px;
  height:12px;
  display:flex;
  font-size:11px;
  color:#797979;
}
#u892 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u892_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:53px;
}
.u896 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:0px;
  width:335px;
  height:53px;
  display:flex;
}
.u896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u896_img.selected {
}
.u896.selected {
}
.u896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
.u897 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:6px;
  width:42px;
  height:42px;
  display:flex;
}
.u897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#69707F;
}
.u898 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:15px;
  width:161px;
  height:22px;
  display:flex;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#69707F;
}
.u898 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
.u899 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:52px;
  width:302px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.115109600513013deg);
  -moz-transform:rotate(0.115109600513013deg);
  -ms-transform:rotate(0.115109600513013deg);
  transform:rotate(0.115109600513013deg);
}
.u899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
.u901 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:15px;
  width:24px;
  height:24px;
  display:flex;
}
.u901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u901_img.selected {
}
.u901.selected {
}
.u901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
.u902 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:23px;
  width:14px;
  height:10px;
  display:flex;
}
.u902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u894-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:53px;
}
#u894-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:376px;
  height:53px;
}
#u894-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:376px;
  height:53px;
}
#u894-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:376px;
  height:53px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:262px;
  width:376px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#797979;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:249px;
  width:8px;
  height:12px;
  display:flex;
  font-size:11px;
  color:#797979;
}
#u903 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u903_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:53px;
}
.u907 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:0px;
  width:335px;
  height:53px;
  display:flex;
}
.u907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u907_img.selected {
}
.u907.selected {
}
.u907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
.u908 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:6px;
  width:42px;
  height:42px;
  display:flex;
}
.u908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#69707F;
}
.u909 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:15px;
  width:190px;
  height:22px;
  display:flex;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#69707F;
}
.u909 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
.u910 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:52px;
  width:302px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.115109600513013deg);
  -moz-transform:rotate(0.115109600513013deg);
  -ms-transform:rotate(0.115109600513013deg);
  transform:rotate(0.115109600513013deg);
}
.u910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
.u912 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:15px;
  width:24px;
  height:24px;
  display:flex;
}
.u912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u912_img.selected {
}
.u912.selected {
}
.u912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
.u913 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:23px;
  width:14px;
  height:10px;
  display:flex;
}
.u913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u905-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:53px;
}
#u905-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:376px;
  height:53px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:134px;
  width:376px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#797979;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:8px;
  height:12px;
  display:flex;
  font-size:11px;
  color:#797979;
}
#u914 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u914_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:18px;
  width:449px;
  height:80px;
}
#u916_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u916_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:77px;
  touch-action:none;
}
#u917_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:77px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u917_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:103px;
  height:68px;
}
.u920_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u920_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:68px;
}
.u921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:68px;
  display:flex;
}
.u921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:rgba(247, 247, 247, 0.498039215686275);
}
.u922 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:52px;
  width:47px;
  height:10px;
  display:flex;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:rgba(247, 247, 247, 0.498039215686275);
}
.u922 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u923 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:46px;
  width:20px;
  height:20px;
  display:flex;
}
.u923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u924 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:46px;
  width:20px;
  height:20px;
  display:flex;
}
.u924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u925 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:46px;
  width:20px;
  height:20px;
  display:flex;
}
.u925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:13px;
}
.u926 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:4px;
  width:96px;
  height:13px;
  display:flex;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:13px;
}
.u926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u918-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:69px;
}
#u918-2 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:0px;
  width:103px;
  height:69px;
}
#u918-3 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:0px;
  width:103px;
  height:69px;
}
#u918-4 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:0px;
  width:103px;
  height:69px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:442px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#797979;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:224px;
  height:12px;
  display:flex;
  font-size:11px;
  color:#797979;
}
#u927 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u927_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
}
.u929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  display:flex;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#69707F;
}
.u929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u928-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
}
#u928-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:24px;
  height:16px;
}
#u928-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:24px;
  height:16px;
}
#u928-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:24px;
  height:16px;
}
#u928-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:24px;
  height:16px;
}
#u928-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:24px;
  height:16px;
}
#u928-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:24px;
  height:16px;
}
#u928-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:24px;
  height:16px;
}
#u928-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:128px;
  width:24px;
  height:16px;
}
#u928-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:24px;
  height:16px;
}
#u928-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:24px;
  height:16px;
}
#u928-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:176px;
  width:24px;
  height:16px;
}
#u928-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:24px;
  height:16px;
}
#u928-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:208px;
  width:24px;
  height:16px;
}
#u928-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:224px;
  width:24px;
  height:16px;
}
#u928-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:24px;
  height:16px;
}
#u928-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:256px;
  width:24px;
  height:16px;
}
#u928-18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:272px;
  width:24px;
  height:16px;
}
#u928-19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:288px;
  width:24px;
  height:16px;
}
#u928-20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:304px;
  width:24px;
  height:16px;
}
#u928-21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:24px;
  height:16px;
}
#u928-22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:336px;
  width:24px;
  height:16px;
}
#u928-23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:352px;
  width:24px;
  height:16px;
}
#u928-24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:368px;
  width:24px;
  height:16px;
}
#u928-25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:384px;
  width:24px;
  height:16px;
}
#u928-26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:24px;
  height:16px;
}
#u928-27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:416px;
  width:24px;
  height:16px;
}
#u928-28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:432px;
  width:24px;
  height:16px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:103px;
  width:24px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 231, 231, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:250px;
  width:341px;
  height:31px;
  display:flex;
  color:#CCCCCC;
  text-align:left;
}
#u931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u932_input {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u932_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:253px;
  width:261px;
  height:24px;
  display:flex;
}
#u932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u932_img.disabled {
}
#u932.disabled {
}
#u933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(88, 93, 224, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:110px;
  width:72px;
  height:31px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u933 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u933_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u933.disabled {
}
#u933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:194px;
  width:254px;
  height:46px;
}
#u934_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:46px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u934_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:46px;
  touch-action:none;
}
#u935_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:46px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u935_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
.u937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
  display:flex;
}
.u937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:4px;
  width:38px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
  background:inherit;
  background-color:rgba(251, 114, 153, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:194px;
  width:100px;
  height:46px;
  display:flex;
}
#u939 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:10px;
  color:#69707F;
  text-align:right;
  line-height:10px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:225px;
  width:78px;
  height:10px;
  display:flex;
  font-family:'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:10px;
  color:#69707F;
  text-align:right;
  line-height:10px;
}
#u940 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u940_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u941_input {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  letter-spacing:normal;
  color:#69707F;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u941_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  letter-spacing:normal;
  color:#69707F;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#69707F;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:210px;
  width:19px;
  height:30px;
  display:flex;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#69707F;
}
#u941 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u941_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#69707F;
}
#u941.disabled {
}
#u942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LastResort', '.LastResort', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#585DE0;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:762px;
  width:94px;
  height:51px;
  display:flex;
  font-family:'LastResort', '.LastResort', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#585DE0;
}
#u944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:776px;
  width:24px;
  height:24px;
  display:flex;
}
#u946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:774px;
  width:28px;
  height:28px;
  display:flex;
}
#u947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u947_img.selected {
}
#u947.selected {
}
#u947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(251, 114, 153, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#69707F;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:802px;
  width:65px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#69707F;
}
#u948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u948_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(251, 114, 153, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#69707F;
}
#u948.selected {
}
#u948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#69707F;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:762px;
  width:94px;
  height:51px;
  display:flex;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#69707F;
}
#u950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:774px;
  width:36px;
  height:28px;
  display:flex;
}
#u951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(251, 114, 153, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#69707F;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:802px;
  width:65px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#69707F;
}
#u952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LastResort', '.LastResort', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#585DE0;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:762px;
  width:94px;
  height:51px;
  display:flex;
  font-family:'LastResort', '.LastResort', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#585DE0;
}
#u954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:27px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:773px;
  width:33px;
  height:27px;
  display:flex;
}
#u955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u955_img.selected {
}
#u955.selected {
}
#u955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(251, 114, 153, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#69707F;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:802px;
  width:65px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#69707F;
}
#u956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u956_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(251, 114, 153, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#69707F;
}
#u956.selected {
}
#u956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:772px;
  width:24px;
  height:24px;
  display:flex;
}
#u958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:773px;
  width:23px;
  height:30px;
  display:flex;
  color:#30404F;
}
#u959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(251, 114, 153, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#69707F;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:803px;
  width:65px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#69707F;
}
#u960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:108px;
  width:44px;
  height:44px;
  display:flex;
  font-size:18px;
  color:#000000;
}
#u962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:123px;
  width:8px;
  height:14px;
  display:flex;
}
#u963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:44px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:56px;
  width:374px;
  height:44px;
  display:flex;
}
#u964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:31px;
  width:433px;
  height:62px;
  display:flex;
}
#u966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:93px;
  width:30px;
  height:803px;
  display:flex;
}
#u967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:837px;
  width:373px;
  height:59px;
  display:flex;
}
#u968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:93px;
  width:30px;
  height:803px;
  display:flex;
}
#u969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:5px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:860px;
  width:134px;
  height:5px;
  display:flex;
}
#u970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
